* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-section {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 75%;

    .form-control {
        &:focus {
            box-shadow: none;
            border: var(--bs-border-width) solid var(--bs-border-color);
        }
    }

    button {
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: -2rem;
        background-color: black;
        color: white;
        width: 2rem;
    }
}

.display-section {
    display: flex;
    justify-content: center;
    text-align: start;
    padding: 3rem;
}